body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    padding: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar a:hover {
    background-color: #0056b3;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.introduction {
    text-align: center;
    margin-bottom: 2rem;
}

.recommendation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.recommendation img {
    width: 45%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}
.dropdown-menu{
  right: 0 !important;
  left: unset !important;
  width: 375px;
}
.dropdown-menu span{
  cursor: pointer;
}
